@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* clears the ‘X’ input search from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ input search from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


/**
* scrollbar
**/
@supports (scrollbar-color: auto) {
    :root {
      scrollbar-color: #ABABAB theme('colors.youtube-main-dark');
    }
}
@supports selector(::-webkit-scrollbar) {
  :root::-webkit-scrollbar {
    background: theme('colors.youtube-main-dark');
  }
  :root::-webkit-scrollbar-thumb {
    background: #ABABAB;
  }
}

/**
* tags slider
**/
#tags-slider::after,  #tags-slider::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
  width: 100px;
}

@media only screen and (min-width:768px) {
  #tags-slider::after,  #tags-slider::before {
    width: 250px;
  }
}

#tags-slider::before {
  left: 0;
  background: linear-gradient(to right, theme('colors.youtube-main-dark') 20%, rgba(33, 33, 33, 0) 80%);
}

#tags-slider::after {
  right: 0;
  background: linear-gradient(to left, theme('colors.youtube-main-dark') 20%, rgba(33, 33, 33, 0) 80%);
}

#tags-slider.no-after::after {
  content: none;
}

#tags-slider.no-before::before {
  content: none;
}


/**
* actual side menu
**/
@media only screen and (max-width:768px) {
  #brief-side-menu, #actual-side-menu {
    display: none;
  }
}

#actual-side-menu {
  scrollbar-width: thin;
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

#actual-side-menu:hover {
 overflow-y: auto;
}


/******** test *******/



